body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
